header{
    background-image: url(img/estacionamiento.jpg);
    background-size: cover;
    background-position: top;
    height: auto;
}

h2{
    letter-spacing: -2.5px;
}

#ultimos_trabajos{
    background-color: green;
    
}

#footer{
    background-color: green;
    height: 200px;
    padding-top: 50px;
}

#footer h6, i {
    width: 40%;
}